.flex {
	position: relative;
	.swgDiv {
		background-color: black;
		justify-content: space-between;
		align-items: center;
		padding: 26px 8%;
		display: flex;
		width: 100%;
		position: fixed;
		z-index: 20;
		.swg {
			width: 89px;
		}
	}
}

